.MainContent
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MainContent .Image 
{
    display: flex;
    justify-content: end;
    align-items: center;
}

.Image .lazy-div {
    display: flex !important;
    justify-content: right !important;
    width: 70%;
    height: 100%;
}

.Image img {
    width: 80%;
    height: auto;
}

.MainContent div
{
    width: 50%;
}

.MainContent:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: right;
}

@media screen and (max-width: 1300px) {
    
    .MainTitleContentContainer
    {
        width: 90vw;
    }
}

@media screen and (max-width: 1000px) {
    
    .MainTitleContentContainer
    {
        width: 90vw;
    }
}

@media screen and (max-width: 800px) {
    .MainContent {
        flex-direction: column;
        height: 80%;
    }

    .Image 
    {
        position: absolute;
        top: 45vh;
        z-index: 0;
    }

    .MainContent .Text {
        z-index: 1;
        width: 80% !important;
    }

    .MainContent .Image 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}