.AccountContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    margin-top: 100px;
}

.AccountContent div {
    height: 100%;
}

.AccountContent div:first-child {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.AccountContent div:last-child {
    width: 55%;
}

.AccountContent div:first-child img {
    width: 100%;
    height: 100%;
}

.AccountContent h2 {
    color: #fff;
    text-align: center;
}

.AccountContent h3 {
    color: #fff;
    text-align: center;
}