.AboutUsPageContent {
    height: auto;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.AboutUsPageContent h2 {
    color: #fff;
}

.AboutUsPageContent .Welcome {
    width: 100%;
    margin-top: 15vh;
}

.AboutUsContactUs {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.AboutUsContactUs h2 {
    color: #fff;
    width: 100%;
}

.MainContentAboutUs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.MainContentAboutUs .lazy-div {
    height: 100%;
    width: 100%;
}

.MainContentAboutUs .lazy-div .ConsoleWindow p {
    height: calc(100% - 20px);
    width: calc(100% - 25px);
}

.WelcomContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.WelcomContent .gg
{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WelcomContent .gg img
{
    width: 100%;
}

.WelcomContent .gg2 {
    width: 50%;
}

.MainContentAboutUs .wrap {
    width: 45%;
}

@media screen and (max-width: 1000px) {
    .AboutUsPageContent h2 {
        font-size: 4vw;
    }

    .AboutUsPageContent p {
        font-size: 3vw;
    }
}

@media screen and (max-width: 800px) {
    .AboutUsPageContent .Welcome .lazy-div{
        width: 100% !important;
        height: auto !important;
    }

    .Container .lazy-div {
        width: 100% !important;
        height: auto !important;
    }

    .AboutUsPageContent .Welcome {
        margin-top: 0;
    }

    .WelcomContent {
        flex-direction: column-reverse;
    } 

    .WelcomContent .gg
    {
        width: 100%;
    }

    .WelcomContent .gg img
    {
        width: 50%;
    }

    .MainContentAboutUs {
        flex-direction: column;
    }

    .MainContentAboutUs .wrap {
        width: 100%;
    }

    .MainContentAboutUs .wrap:last-child {
        margin-top: 40px;
    }

}