* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #2E2E2E;
}

html::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    line-height: 100%;
    margin: 0;
    width: 100%;
    text-align: justify;
}

h2 b {
  color: #66CC66;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 37px;
    text-align: justify;
}

p b {
  color: #66CC66;
}

.Container {
  height: 100vh;
  width: 70vw;

  margin-left:auto;
  margin-right: auto;

  display: flex;
  align-items: center;
}

.Container div:last-child{
  text-align: right !important;
}

.Container div:first-child{
  text-align: left !important;
}

hr {
  height: 5px;
  border: 0;
  outline: 0;
  background-color: #fff;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.darktheme
{
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(65, 65, 65, 0.85);
}

ul {
  list-style-type: none;
  text-align: justify;
}


.lazy-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #8BF88B;
  transform-origin: 0%;
  width: 100vw;
  z-index: 999;
}

@media screen and (max-width: 1920px) {

  .Container
  {
      width: 65vw;
  }

  h2 {
    font-size: 4vw;
  }

  p {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 1300px) {

  .Container
  {
      width: 80vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  p {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 1000px) {
  
  .Container
  {
      width: 90vw;
  }

  h2 {
    font-size: 8vw;
  }

  p {
    font-size: 4vw;
    line-height: 35px;
  }
}

@media screen and (max-width: 800px) {
  
  .Container
  {
      width: 90vw;
  }

  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 3vw;
    line-height: 31px;
  }

  .Image {
    width: 60% !important;
  }

  .lazy-div {
    width: 200% !important;
    height: 200% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}