* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #2E2E2E;
}

html::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    line-height: 100%;
    margin: 0;
    width: 100%;
    text-align: justify;
}

h2 b {
  color: #66CC66;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vw;
    text-align: justify;
}

p b {
  color: #66CC66;
}

.Container {
  height: 100vh;
  width: 70vw;

  margin-left:auto;
  margin-right: auto;

  display: flex;
  align-items: center;
}

.Container div:last-child{
  text-align: right !important;
}

.Container div:first-child{
  text-align: left !important;
}

hr {
  height: 5px;
  border: 0;
  outline: 0;
  background-color: #fff;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.darktheme
{
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(65, 65, 65, 0.85);
}

ul {
  list-style-type: none;
  text-align: justify;
}


.lazy-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #8BF88B;
  transform-origin: 0%;
  width: 100vw;
  z-index: 999;
}

.TitleWindow
{
    width: 100%;
    height: 55px;
    background: #66CC66;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 24px 20px 19px rgba(0, 0, 0, 0.25);
}

.TitleWindow h3
{
    color: #000000;
    margin: 0;
    text-align: center;
}

.TitleWindow p
{
    color: #000000;
    margin: 0 0 10px 15px;
    text-align: start;
    font-weight: 600;
}

.Design
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Design p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #fff;
    font-size: 15px;
    margin: 12px;
  }

.TitleWindow {
  align-items: center;
  display: flex;
}


.ConsoleWindow
{
    height: calc(100% - 55px);
    width: 100%;
    background: rgba(65, 65, 65, 0.67);
    margin: 0;
    box-shadow: 24px 20px 19px rgba(0, 0, 0, 0.25);
    text-overflow:clip;
    white-space:normal;
    overflow:auto;
    vertical-align: middle;
}

.ConsoleWindow p {
  margin: 10px;
}

.ConsoleWindow::-webkit-scrollbar {
  width: 5px;
  height: 100%;
  background-color: #000000;
}

.ConsoleWindow::-webkit-scrollbar-thumb  {
  background-color: #66CC66;
  border-radius: 5px;
}

@media screen and (max-width: 1920px) {

  .Container
  {
      width: 65vw;
  }

  h2 {
    font-size: 2.7vw;
  }

  p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1300px) {

  .Container
  {
      width: 80vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  p {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 1000px) {
  
  .Container
  {
      width: 90vw;
  }

  h2 {
    font-size: 8vw;
  }

  p {
    font-size: 4vw;
  }
}

@media screen and (max-width: 800px) {
  
  .Container
  {
      width: 90vw;
  }

  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 3vw;
  }

  .Image {
    width: 60% !important;
  }

  .lazy-div {
    width: 200% !important;
    height: 200% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
