

.NavItemsContainer {
    width: 70vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.BurgerMenu {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavItemsContainer .Items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    z-index: 10;
}  

.Items p {
    font-family: 'Iceland', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;

    color: #FFFFFF;

    text-shadow: 7px 7px 14px rgba(0, 0, 0, 0.25);
}

.Items {
    z-index: 11;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

a {
    display: flex;
    align-items: center;
}

.Burger {
    display: none;
    height: 5vh;
    width: 7vh;
    z-index: 7;
    justify-content: center;
    align-items: center;
}

.Burger img {
    width: auto;
    height: 70%;
}

.LeaveBurgerMenu {
    background-color: black;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    display: none;
}

.Items p:hover {
    color: #66CC66;
}

@media screen and (max-width: 1300px) {
    a {
        font-size: 2vw;
    }

    .NavItemsContainer {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        height: 100%;
    }
}

@media screen and (max-width: 1000px) {
    a {
        font-size: 3vw;
    }

    .NavItemsContainer {
        display: flex;
        justify-content: space-between;
        width: 95vw;
        height: 90%;
    }
}

@media screen and (max-width: 950px) {

    .Burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NavItemsContainer .Items {
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .Items p {
        font-size: 3vw;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .Items p:hover {
        color: #FFFFFF;
    }
    

    .BurgerMenu {
        justify-content: right;
        position: fixed;
        top: 0;
        right: 0;
        width: 30vw;
        background-color: #66CC66;
        display: none;
        z-index: 101;
    }
}